
.faqSection {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.faqSection h2 {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

.accordion {
    background: none;
    color: #000;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    outline: none;


    border: none;
    border-bottom: 1px solid #ddd;
    transition: 0.4s;
    position: relative;
}

.accordion:after {
    content: '\002B';
    /* Plus sign */
    font-weight: bold;
    float: right;
    font-size: 18px;
    transition: transform 0.2s ease;
    /* Smooth rotation */
}

.active:after {
    content: '\2715';
    /* close sign */
    font-weight: bolder;
    font-size: 10px;
}

.panel {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
    color: #666;
}

.panel p {
    margin: 10px 0;
}

.accordion.active,
.accordion:hover {
    background: none;
    color: #000;
}