.marquee {
    padding: 0px 40px;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
  }
  
  .marquee span {
    display: inline-block;
    font-size: 12px;
   animation: marquee 20s linear infinite;
  }
  
  @keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  